{% extends "base_login.html" %}
{% load static %}
{% block 'title' %}Acessar{% endblock 'title' %}

{% block 'body' %}
{% if messages %}
<br>
{% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
{% endfor %}
{% endif %}
<main class="form-signin w-100 m-auto">
    <form class="d-flex flex-column align-items-center" action="{% url "LoginUser" %}" method="POST">{% csrf_token %}
        <img class="mb-4" src="{% static '../static/img/book_13960538.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Acessar</h1>
        <div class="form-floating w-100">
        <input type="text" class="form-control" id="floatingInput" name="nome" placeholder="login">
        <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating w-100">
        <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="Password">
        <label for="floatingPassword">Senha</label>
        </div>
        <label class="form-check-label" for="flexCheckDefault">
            Não tem acesso? <a href="{% url "CreateUser" %}" class="link-float"> Cadastre-se!</a>
        </label>
        </div>
        <p></p>
        <button class="btn btn-primary w-100" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</main>
{% endblock 'body' %}